html {
    box-sizing: border-box;
    font-size: calc(16/1200 * 100rem);
}

.container {
    margin: 0 20%;
}

.cart {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.cart-item {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    height: 100%;
}

.cart-item__info {
    margin-left: 2rem;
}

.cart-item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cart-item__image {
    width: 100%;
}

img {
    max-width: 100%;
    padding: 1rem;
}

button {
    width: 40%;
    background-color: black;
    color: white;
    padding: 1rem 3rem;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cart-footer__total-price {
    font-weight: bold;
    margin-right: 2rem;
}